<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".xap"/>
      <remove fileExtension=".xaml"/>
      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff"/>
      <mimeMap fileExtension=".xap" mimeType="xapapplication/x-silverlight"/>
      <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml"/>
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=hds316158156.my3w.com;Initial Catalog=hds316158156_db;User Id=hds316158156;Password=joK12141649539"/>
    <add name="DefaultConnection" connectionString="Data Source=hds316158156.my3w.com;Initial Catalog=hds316158156_db;User Id=hds316158156;Password=joK12141649539"/>
  </connectionStrings>
  <appSettings>
    <!--设置Datalist读取的最多数据行数-->
    <add key="ListRows" value="10"/>
    <!--设置Datalist读取的最多数据行数-->
    <add key="MaxList" value="1000"/>
    <!--Dubug标志-->
    <add key="Debug" value="true"/>
    <!--Token 网站匹配-->
    <add key="Token" value="joker24"/>
    <!--appID 关注的应用ID号-->
    <add key="CorpId" value="wx03159369fc0c71c2"/>
    <!--appsecret  加密字符串-->
    <add key="EncodingAESKey" value="1111111111111111111111111111111111111111111"/>
    <add key="WeixinAppSecret" value="781dd99bf9179836f31c77a6f04d553a"/>
    <!--财付通商户ID号-->
    <add key="PARTNER" value="1529873731"/>
    <!--JSPIKey  加密字符串-->
    <add key="JSPIKey" value="12345678901234567890123456789012"/>
    <!--企业微信登录使用  企业微信ID-->
    <add key="AgentId" value="wwcb109f513aaa59b1"/>
    <!--企业微信登录使用  企业微信Secret-->
    <add key="Secret" value="0bKRBl2mXRHMJ7UbbtHQwSBnDbtx2scsPMKNuWJ8TYo"/>
    <!--企业微信登录使用  企业内部应用ID-->
    <add key="NAgentId" value="1000006"/>
    <!--  https://open.weixin.qq.com/connect/oauth2/authorize?appid=wwcb109f513aaa59b1&redirect_uri=http%3a%2f%2fptweb.x76.com.cn/Default.aspx%3fWechat%3d0&response_type=code&scope=snsapi_base&state=#wechat_redirect -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <pages enableEventValidation="false"/>
    <httpRuntime useFullyQualifiedRedirectUrl="false" executionTimeout="500" maxRequestLength="4194300"/>
  </system.web>
</configuration>